@tailwind base;
@tailwind components;
@tailwind utilities;

.nuxt-content {
  @apply md:text-xl;
  p {
    @apply my-4 md:my-8;
  }
  h1 {
    @apply text-3xl md:text-6xl
    my-4 md:my-8;
  }
  h2 {
    @apply text-2xl md:text-5xl
    my-4 md:my-8;
  }
  h3 {
    @apply text-xl md:text-4xl
    my-4 md:my-8;
  }
  h4 {
    @apply text-lg md:text-2xl
    my-4 md:my-8;
  }

  ul {
    list-style: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 40px;
  }
  ol {
    list-style: auto;
    padding-left: 2em;
  }
  code {
    //padding: 0.2em 0.4em;
    margin: 0;
    font-size: 85%;
    white-space: break-spaces;
    background-color: #6e768166;
    border-radius: 6px;
  }
  pre {
    margin: 16px 0;
    padding: 16px;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    background-color: #161b22;
    border-radius: 6px;
    code {
      background-color: transparent;
    }
  }
  blockquote {
    margin: 16px 0;
    padding: 0 1em;
    color: #8b949e;
    border-left: 0.25em solid #30363d;
  }
  table {
    display: block;
    width: 100%;
    max-width: 100%;
    overflow: auto;
    tr {
      background-color: #0d1117;
      border-top: 1px solid #21262d;
      th, td {
        padding: 6px 13px;
        border: 1px solid #30363d;
      }
    }
  }
}
